html {
  background: rgb(234, 234, 234);
}

.App {
  text-align: center;
}

form {
  margin: 0 auto;
  background: rgb(160, 209, 214);
  width: 950px;
  border-radius: 10px;
  padding: 20px;
  margin-top: -350px;
}

p {
  font-family: sans-serif;
  text-align: left;
  color: rgb(154, 152, 152);
  font-size: 25px;
  padding: 35px;
  width: 650px;
  margin: auto;
}
label {
  color: rgb(62, 116, 120);
  font-family: sans-serif;
  font-weight: 540;
}
#box {
  margin-right: 1125px;
  height: 420px;
  margin-bottom: -50px;
}

#products {
  text-align: justify;
  padding-bottom: 20px;
  padding-top: 20px;
}

#materials {
  text-align: justify;
  padding-bottom: 20px;
}
#services {
  text-align: justify;
  padding-bottom: 20px;
}
.variosCheck {
  text-align: justify;
}
.checkmateriales {
  text-align: justify;
  padding-bottom: 20px;
}
.checkProduccion {
  text-align: justify;
  margin-bottom: 20px;
}
input {
  border-radius: 10px;
  background-color: rgb(210, 226, 230);
  border-color: transparent;
}

#productos {
  width: 470px;
  height: 25px;
}
#materiales {
  width: 470px;
  height: 25px;
}
#servicios {
  width: 470px;
  height: 25px;
}
#tArea {
  text-align: justify;
  margin-left: 510px;
  margin-top: -380px;
  padding-bottom: 20px;
}

#area {
  border-radius: 10px;
  background-color: rgb(210, 226, 230);
  border-color: transparent;
  resize: none;
}

#archivos {
  text-align: justify;
  margin-left: 620px;
}
#file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
#file1 {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
#ar1 {
  display: inline-block;
  padding: 0 140px 0 0;
  margin-left: -95px;
}
#ar2 {
  display: inline-block;
  margin-left: -30px;
}
.ladjuntar {
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(210, 226, 230);
  border-color: transparent;
  width: 150px;
  height: 30px;
  display: inline-block;
  font-size: 13px;
}
button {
  cursor: pointer;
  background-color: rgb(249, 184, 81);
  color: white;
  font-style: italic;
  border-radius: 10px;
  border-color: transparent;
  margin-left: 750px;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 200px;
}
.lab {
  cursor: pointer;
  padding: 10px;
  display: inline-block;
}
.chmaterial {
  margin-left: 20px;
}
.chprod {
  margin-left: 40px;
}
.chexp {
  margin-left: 40px;
}
