html {
  background: rgb(234, 234, 234);
}

.App {
  text-align: center;
}
p {
  font-family: sans-serif;
  text-align: left;
  color: rgb(154, 152, 152);
  font-size: 25px;
  padding: 35px;
  width: 1000px;
  margin: auto;
}
form {
  margin: 0 auto;
  background: rgb(160, 209, 214);
  width: 700px;
  border-radius: 10px;
}
label {
  color: rgb(62, 116, 120);
  font-family: sans-serif;
}

input {
  border-radius: 10px;
  width: 275px;
  height: 25px;
  background-color: rgb(210, 226, 230);
  border-color: transparent;
}
button {
  background-color: rgb(249, 184, 81);
  color: white;
  font-style: italic;
  border-radius: 10px;
  border-color: transparent;
}

#nombre {
  text-align: justify;
  display: inline-block;
  padding: 30px 15px 0 0;
}
#apellido {
  text-align: justify;
  display: inline-block;
  padding: 20px 0 0 0;
}
#nComp {
  text-align: justify;
  display: inline-block;
  padding: 15px 0 15px 0;
}
#rut {
  text-align: justify;
  display: inline-block;
  padding: 0 0 0 15px;
}
#correo {
  text-align: justify;
  display: inline-block;
  padding: 0 0 0 0;
}
#telefono {
  text-align: justify;
  display: inline-block;
  padding: 0 0 0 15px;
}
#nombre {
  text-align: justify;
  display: inline-block;
  padding: 30px 15px 0 0;
}
#apellido {
  text-align: justify;
  display: inline-block;
  padding: 20px 0 0 0;
}
#nComp {
  text-align: justify;
  display: inline-block;
  padding: 15px 0 15px 0;
}
#rut {
  text-align: justify;
  display: inline-block;
  padding: 0 0 0 15px;
}
#correo {
  text-align: justify;
  display: inline-block;
  padding: 0 0 0 0;
}
#telefono {
  text-align: justify;
  display: inline-block;
  padding: 0 0 0 15px;
}
#contrasena {
  text-align: justify;
  display: inline-block;
  padding: 0 0 0 0;
}
#ccontrasena {
  text-align: justify;
  display: inline-block;
  padding: 15px 0 15px 15px;
}
.telf {
  width: 125px;
}
.cel {
  width: 125px;
}
#obligatorio {
  float: left;
  text-align: left;
  font-size: 10px;
  padding-left: 60px;
  margin-bottom: -20px;
}
#setCheckbox {
  text-align: left;
  margin: auto;
}

button {
  margin-bottom: -30px;
  display: block;
  margin-left: 360px;
  cursor: pointer;
}

.chbox {
  vertical-align: super;
  font-size: 10px;
}

.cBox {
  cursor: pointer;
}

#c1 {
  margin-left: 64px;
  width: 12px;
  display: inline-block;
  margin-top: 10px;
}

#c2 {
  margin-left: 64px;
  width: 12px;
  display: inline-block;
  margin-top: -10px;
}
img {
  width: 70px;
  margin-left: 550px;
  margin-bottom: -42px;
}
