html {
  background: rgb(234, 234, 234);
}
.App {
  text-align: center;
}

p {
  font-family: Arial;
  text-align: left;
  color: rgb(154, 152, 152);
  font-size: 25px;
  padding: 35px;
  width: 1000px;
  margin: auto;
}

#resalto {
  color: rgb(119, 184, 191);
  text-shadow: 1px 1px rgb(119, 184, 191);
}

form {
  margin: 0 auto;
  float: right;
  margin-right: 400px;
  border-style: solid;
  border-color: rgb(233, 218, 190);
  width: 700px;
  margin-top: 40px;
  border-radius: 20px;
}
a {
  color: rgb(62, 116, 120);
}
label {
  color: rgb(62, 116, 120);
  font-family: sans-serif;
}

input {
  border-radius: 10px;
  width: 275px;
  height: 25px;
  background-color: rgb(240, 217, 176);
  border-color: transparent;
}
button {
  background-color: rgb(238, 189, 87);
  color: white;
  font-style: italic;
  border-radius: 10px;
  border-color: transparent;
  margin-bottom: -30px;
  display: block;
  margin-left: 360px;
  cursor: pointer;
}

img {
  margin-left: 120px;
}

#nombre {
  text-align: justify;
  display: inline-block;
  padding: 30px 15px 0 0;
}
#apellido {
  text-align: justify;
  display: inline-block;
  padding: 20px 0 0 0;
}
#nComp {
  text-align: justify;
  display: inline-block;
  padding: 15px 0 15px 0;
}
#correo {
  text-align: justify;
  display: inline-block;
  padding: 0 0 0 0;
}
#telefono {
  display: inline-block;
}
#celular {
  text-align: justify;
  display: inline-block;
  padding: 0 15px 0 0;
}
#nombre {
  text-align: justify;
  display: inline-block;
  padding: 30px 15px 0 0;
}
#nComp {
  text-align: justify;
  display: inline-block;
  padding: 15px 0 15px 0;
}
#rut {
  text-align: justify;
  display: inline-block;
  padding: 0 0 0 15px;
}
#correo {
  text-align: justify;
  display: inline-block;
  padding: 0 0 0 0;
}
#telefono {
  text-align: justify;
  display: inline-block;
  padding: 0 0 0 15px;
}
#tele {
  margin-left: -15px;
}
#contrasena {
  text-align: justify;
  display: inline-block;
  padding: 0 0 0 0;
}
#ccontrasena {
  text-align: justify;
  display: inline-block;
  padding: 15px 0 15px 15px;
}
.telf {
  width: 100px;
  margin-right: 15px;
  margin-left: -15px;
}
.cel {
  width: 150px;
}
#obligatorio {
  float: left;
  text-align: left;
  font-size: 10px;
  padding-left: 60px;
  margin-bottom: -20px;
}
#setCheckbox {
  text-align: left;
  margin: auto;
}

.chbox {
  vertical-align: super;
  font-size: 10px;
}

.cBox {
  cursor: pointer;
}

#c1 {
  margin-left: 64px;
  width: 12px;
  display: inline-block;
  margin-top: 10px;
}

#c2 {
  margin-left: 64px;
  width: 12px;
  display: inline-block;
  margin-top: -10px;
}